[user]
	name = flother
	email = flother@users.noreply.github.com
	signingkey = 9FFA2F0F
[core]
	editor = vim
[alias]
	st = status -s
	ci = commit
	co = checkout
	# One commit per line with abbreviated hashes and graphical history.
	l = log --oneline --graph
	# Show verbose output about tags, branches or remotes.
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	# Add currently staged files to the latest commit.
	amend = commit --amend --reuse-message=HEAD
	# List contributors and their number of commits.
	contributors = shortlog --summary --numbered
	# List aliased commands.
	aliases = config --get-regexp ^alias\\.
[push]
	default = simple
	# Push relevant annotated tags when pushing branches using `git push`.
	followTags = true
[color]
	ui = true
